.divTable {
  display: flex;
  justify-content: center;
  height: 80%;
}

.table {
  background-color: #1e5086;
  color: white;
  width: 80%;
  text-align: center;
  border: 3px solid white;
  border-collapse: collapse;
  height: 100%;
}

.form {
  text-align: center;
}

.components {
  margin: 20px;
}
